<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>사용자 등록 폼</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { max-width: 560px; }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>사용자 등록 폼</h2>
    </div>

    <form action="/userForm" th:object="${user}" method="post">
        <div>
            <label>이름</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div>
            <label>나이</label>
            <input type="text" th:field="*{age}" class="form-control">
        </div>
        <div>
            <label>전화번호</label>
            <textarea th:field="*{phoneNumber}" class="form-control" rows="4"></textarea>
        </div>
        <div class="mt-3">
            <button type="submit" th:href = "@{/reserve}" class="btn btn-primary btn-block">추가</button>
        </div>
    </form>
</div>
</body>
</html>
