<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>사용자 등록 폼</h2>
    </div>
    <form action="#" th:action="@{/userForm}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="age">나이</label>
            <input type="text" th:field="*{age}" class="form-control" placeholder="나이를 입력하세요">
        </div>
        <div class="form-group">
            <label for="phoneNumber">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="전화번호를 입력하세요">
        </div>
        <div class="form-group">
            <label for="movieTitle">영화 제목</label>
            <input type="text" th:field="*{movieTitle}" class="form-control" placeholder="영화 제목을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</body>
</html>
