<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/mybook" method="get">
    <input type="text" name="phoneNumber" id="phoneForm">
    <input type="submit" value="검색" onclick="clickEvent()">
</form>

 <script>
    function clickEvent(){
    if(document.getElementById('phoneForm').value == null)
    {
        alert('휴대폰 번호를 입력해주세요!');
    }
    }
 </script>
</body>
</html>