<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 선택</title>

    <style>
        .tablecontainer {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 50%;
            height: 500px;
            margin-top: 5%;
            border-collapse: collapse;
        }
        .movieTitleCell {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <table class="tablecontainer" border="1">
        <thead>
            <tr>
                <th>영화 선택</th>
                <th class="selectedDate">선택된 날짜</th>
            </tr>
        </thead>
        <tbody>
           <!-- db에 arraylist로 추가할 경우 model.addAttribute("movies",list) 로 하길 바람
            https://velog.io/@chang626/%ED%83%80%EC%9E%84%EB%A6%AC%ED%94%84-%EA%B8%B0%EB%B3%B8-%EA%B8%B0%EB%8A%A5-2
            자세한 설명은 위 링크

            db에서 추가한 만큼 동적으로 영화 제목 가져온다고는 하는데 테스트 안해봄 
        -->
            <tr th:each="movie, iterStat : ${movies}">
                <td class="movieTitleCell" th:id="'movie' + ${iterStat.id}" th:data-title="${movie.title}" th:text="${movie.title}">영화 제목</td>
               
                <td class="selectDateArea" th:if="${iterStat.id == 0}" rowspan="3">
                    <input type="date" id="datePicker">
                </td>
            </tr>
           
            <tr>
                <td class="selectedMovieTitle">영화제목</td>
            </tr>
            <tr>
                <td class="selectTime" rowspan="5">시간선택</td>
            </tr>
        </tbody>
    </table>

    <script>
       
        document.getElementById('datePicker').addEventListener('change', function() {
            var selectedDate = new Date(this.value);
            var week = ['일', '월', '화', '수', '목', '금', '토'];
            var formattedDate = selectedDate.getFullYear() + '년 ' + 
                                ('0' + (selectedDate.getMonth() + 1)).slice(-2) + '월 ' + 
                                ('0' + selectedDate.getDate()).slice(-2) + '일 ' +
                                week[selectedDate.getDay()] + '요일';
            document.querySelector('.selectedDate').innerText = formattedDate;
        });

        
        document.querySelectorAll('.movieTitleCell').forEach(function(cell) {
            cell.addEventListener('click', function() {
                var movieTitle = this.getAttribute('data-title');
                document.querySelector('.selectedMovieTitle').innerText = movieTitle;
            });
        });
    </script>
</body>
</html>
