<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .tablecontainer {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 50%;
            height: 500px;
            margin-top: 5%;
            border-collapse: collapse;
        }
        .movieTitleCell {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <table class="tablecontainer" border="1">
        <thead>
            <tr>
                <th>영화 선택</th>
                <th class="selectedDate">선택된 날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies1.title}" th:text="${movies1.title}"></td>
                <td class="selectDateArea" rowspan="3">
                    <input type="date" id="datePicker" min="0" max="+7">
                </td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies2.title}" th:text="${movies2.title}"></td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies3.title}" th:text="${movies3.title}"></td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies4.title}" th:text="${movies4.title}"></td>
                <td class="selectedMovieTitle">영화제목</td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies5.title}" th:text="${movies5.title}"></td>
                <td class="selectTime" rowspan="5">시간선택</td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies6.title}" th:text="${movies6.title}"></td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies7.title}" th:text="${movies7.title}"></td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies8.title}" th:text="${movies8.title}"></td>
            </tr>
            <tr>
                <td class="movieTitleCell" th:data-title="${movies9.title}" th:text="${movies9.title}"></td>
            </tr>
        </tbody>
    </table>

    <script>
        
        

        document.getElementById('datePicker').addEventListener('change', function() {
            var selectedDate = new Date(this.value);
            document.getElementById('datePicker').setAttribute("min", selectedDate)
            var week = ['일', '월', '화', '수', '목', '금', '토'];
            var formattedDate = selectedDate.getFullYear() + '년 ' + 
                                ('0' + (selectedDate.getMonth() + 1)).slice(-2) + '월 ' + 
                                ('0' + selectedDate.getDate()).slice(-2) + '일 ' +
                                week[selectedDate.getDay()] + '요일';
            document.querySelector('.selectedDate').innerText = formattedDate;
        });

        document.querySelectorAll('.movieTitleCell').forEach(function(cell) {
            cell.addEventListener('click', function() {
                var movieTitle = this.getAttribute('data-title');
                document.querySelector('.selectedMovieTitle').innerText = movieTitle;
            });
        });
    </script>
</body>
</html>
